footer.page-footer.teal#footer
  .container
    .row
      .col.l6.s12
        h5.white-text Basque country walks
        p.grey-text.text-lighten-4
          | We are offering both guided and self-guided walks/hikes to this beautiful region in the foothills of the Atlantic Pyrenees
      .col.l3.s12
        h5.white-text Social Networks
        ul
          li
            a.white-text(href='https://www.facebook.com/philip.cooper.370/', target='_blank') Facebook
          li
            a.white-text(href='https://www.instagram.com/philip.cooper.370/', target='_blank') Instagram
          li
            a.white-text(href='#https://twitter.com/basquewalks?lang=fr', target='_blank') Twitter
      .col.l3.s12
        h5.white-text Contact
        ul
          li contact@basquecountrywalks.com
          li +34 677 530673 (Spain)
