nav.white(role='navigation')
  .nav-wrapper.container
    a#logo-container.brand-logo(href='#') Basque Country Walks
    ul.right.hide-on-med-and-down
      li
        a(href='#') Guided Walks
      li
        a(href='#') The Basque World
      li
        a(href='#') Walking Routes
      li
        a(href='#') The Book
    ul#nav-mobile.sidenav
      li
        a(href='#') Guided Walks
      li
        a(href='#') The Basque World
      li
        a(href='#') Walking Routes
      li
        a(href='#') The Book
    a.sidenav-trigger(href='#', data-target='nav-mobile')
      i.material-icons menu