doctype html
html
  head
    title Basque Country Walks
    link(href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css", rel="stylesheet")
    script(src="https://code.jquery.com/jquery-3.3.1.min.js", integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=", crossorigin="anonymous")
    script(src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js")
    link(href="https://fonts.googleapis.com/icon?family=Material+Icons", rel="stylesheet")
    link(href="/css/style.css", rel="stylesheet")

  body
    include includes/header.pug
    #index-banner.parallax-container
      .section.no-pad-bot
        .container
          br
          br
          h1.header.center.teal-text.text-lighten-2#title Walk with me to the heart of Basque country
          .row.center
            h5.header.col.s12.light#intro
              p Hello,
              br
              p My name is Philip Cooper and I am the author of the guide&nbsp;
                a#book-link-intro(href="https://www.amazon.com/Basque-Country-Spain-France-Landscapes/dp/1856914852", target="_blank") Landscapes of the Basque Country of Spain and France.&nbsp;
              br
              p I am based in Donostia-San Sebastián, the renowned queen of the Basque coast, and walking is my passion, which is why I like to share my experiences of offering both guided walks/hikes accompanied by myself, and self-guided walking/hiking holidays to this beautiful region in the foothills of the Atlantic Pyrenees
              br
              p There is a surprising variety of landscapes to explore within such a small area. Sharing a common language and deep-rooted traditions, together these areas form one of the most stunning and fascinating areas in Europe !
          .row.center
            a#moreinfo.btn-large.waves-effect.waves-light.teal.lighten-1(href='/guided-walks') More information
          br
          br
      .parallax
        img(src='/img/background1.jpg', alt='Unsplashed background img 1')
    .container#panels-container
      .section
        // Icon Section
        .row
          .col.s12.m4.panels
            .icon-block
              h2.center.brown-text
                i.material-icons map
              h5.center Self-guided Walks
              p.light
                | The self-guided walks offered via this website are up to 6 days in length and, in most cases, a shorter, easier route is offered. Each day’s walk has been keenly selected to ensure that routes pass through some of the region’s most beautiful landscapes ...
                br
                a.read-more(href="#self=guided-walks") See the self-guided walks
          .col.s12.m4.panels
            .icon-block
              h2.center.brown-text
                i.material-icons directions_walk
              h5.center Guided Walks
              p.light
                | I arrange a variety of guided day walks both within the Baztan-Bidasoa region covered under the self-guided walks section and in other parts of the Basque Country. These walks are geared to visitors who would like to get a taste of the landscapes and villages in the region ...
                br
                a.read-more(href="#guided-walks") See the guided walks
          .col.s12.m4.panels
            .icon-block
              h2.center.brown-text
                i.material-icons person
              h5.center About me
              p.light
                | I have been based in the Basque Country for over 30 years now, working as an English teacher, translator and writer. My first experience of travel writing was when I was commissioned to update the Basque Country chapter in the Rough Guide to Spain ...&nbsp;
                br
                a.read-more(href="#about-me") Read More
    .parallax-container.valign-wrapper
      .section.no-pad-bot
        .container

          .carousel

            .carousel-item
              h5.header.col.s12.light.quote  " ... is not just  a  trip -  it is an experience ... meticulous and easy to follow guide ... a unique, comfortable, worry-free package"
                .author Adrian and David, San Francisco

            .carousel-item
              h5.header.col.s12.light.quote  " From initial contact to final changes of plans to suit weather and flight times, Philip was unfailingly helpful and available. "
                .author Carl Roberton, London

            .carousel-item
              h5.header.col.s12.light.quote  " I want to thank Phillip for his wonderful organisation that made our 5 day walk in the Pyrenees in Basque country such a delight. "
                .author Yolande Morris


      .parallax
        img(src='/img/background2.jpg', alt='Unsplashed background img 2')
  include includes/footer.pug


  script(src="/js/all.js")
  script(src="/js/init.js")
